@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swa');

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 12px;
    color: hsl(0, 0%, 59%);
}
.container{
    font-family: 'Libre Franklin', sans-serif;

    width: 460px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    width: 100%;
    margin: 50px auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header>div{
    margin:40px auto 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header>div h1{
    color: hsl(0, 0%, 59%);
    font-weight: 100;
    margin-bottom: 10px;
}
.header>div h1 span{
    font-weight: bold;
    color: hsl(209, 33%, 12%);
}
.header>div h1+p{
    color: hsl(209, 33%, 12%);
}

.header form{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.header form div:first-child{
    width:65% ;
}
.header form div:first-child input{
    width: 92%;
    padding-left: 8%;
    
    
}
.header form div:last-child{
    width:30% ;
    
}
.header form div:last-child input{
    width: 100%;
    background-color: hsl(223, 87%, 63%);
    color: hsl(223, 100%, 88%);
    font-weight: bold;
    border: 1px solid hsl(223, 87%, 63%);

}
.header form div:last-child input:hover{
    background-color:hsl(223, 76%, 71%) ;
    cursor: pointer;
}
input{
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 30px;
}
input::placeholder{
    color: hsl(223, 100%, 88%);
    
}

.default{
    display: none;
}
.msgErr{
    margin: 5px 0 0 21px;
    color: hsl(354, 100%, 66%);
}
.InputNErr{
    border: 1px solid hsl(223, 87%, 63%);

}

.InputErr{
    border:1px solid hsl(354, 100%, 66%) ;
}




.footer{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social{
    display: flex;
    justify-content: center;

}
.social >div{
    margin: 10px;
    border: 1px solid hsl(223, 87%, 63%);
    color: hsl(223, 87%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.social >div:hover{
    background-color:hsl(223, 87%, 63%) ;
    color: white;
    cursor: pointer;

}
@media screen and (max-width:450px) {
    .header form{
        width: 90%;
        
        flex-direction: column;
        align-items: center;
    }
    .header form div:first-child,.header form div:last-child{
        width:100% ;
        font-display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .header form div:first-child{
        margin-bottom: 20px;
    }
    .header form div:first-child input{
        width: 92%;

        padding-left: 8%;
        
        
    }
    .msgErr{
     text-align: center;
    }.header+img{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    
    
}